<h3>Current Formel</h3>
<h4>Formeldescription:</h4>
<p>{{formel.formeldescription}}</p><hr>
<h4>Formel:</h4>
<p>{{formel.formelsigns}}</p><hr>

<h3>Updated Formel</h3>
<form action='{{ url_for('Update', id=id) }}' method="POST">
    <p>formeldescription <input type = "text" name = "formeldescription" value="{{ formel.formeldescription }}" /></p>
    <p>formelsigns <input type = "text" name = "formelsigns" value="{{ formel.formelsigns }}" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
